<!DOCTYPE html>
<html>
<head>
  <title>Seattle Restaurants Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">

  </div>

  <div class="container">
    <a href="/" class="btn  btn-primary">Home Page</a>
    <a href="/articles" class="btn  btn-primary">View Articles</a>
    <a href="/articles/new" class="btn btn-warning">New Article</a>
    <a href="/authors" class="btn btn-success">View Authors</a>
    <a href="/authors/new" class="btn btn-default">Author Sign Up</a>

  </div>
<hr>
  <div class="container">
    <%- body %>
  </div>
      
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/routing.js"></script>
</body>
</html>