<h1 class="text-center">All the articles you can handle!</h1>

<% if(articles.length <= 0) { %>
  <h2>Nothing in the database yet!</h2>
<% } else { %>
  <% articles.forEach(function(item) { %>
    <h3>
      <a href="/articles/<%= item.id %>">
        <%= item.title %>
      </a>
    </h3>
    <a href="/articles/<%= item.id %>" class="btn btn-danger delete-link">
      Delete Post
    </a>
  <% }); %>
<% } %>