<h2 class="text-center">New Author Sign Up</h2>
<form method="post" action="/authors">
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" placeholder="first name goes here" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" placeholder="last name goes here" class="form-control">
  </div>
  <div class="form-group">
    <label for="bio">Author Bio:</label>
    <input type="text" name="bio" placeholder="Tell us about yourself" class="form-control">
  </div>
  <div class="form-group">
    <label for="dob">What's your birthday:</label>
    <input type="date" name="dob" class="form-control">

    <input type="submit" value="Add Author" class="btn btn-success">
  </div>
</form>